@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<a class="nav-link text-dark" asp-area="" asp-controller="Locations" asp-action="Index">Locations</a>


